/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
  ========================================
  Fonts
  ========================================
*/
html {
  font-family: helvetica;
}

/*
  ========================================
  Header
  ========================================
*/

.logo {
  border-top: 4px solid #0084b4;
  padding: 40px 0 0 0;; 
}

.tagline{
  padding: 0 0 40px 0;
  border-bottom:4px solid #0084b4;
}

h1 {
  font-size: 48px;
  font-weight: 100;
  letter-spacing: .5px;
  line-height: 44px;
  text-transform: uppercase;
  text-align: center;
}

h3{
  text-align: center;

}
/*
  ========================================
  Container
  ========================================
*/
.container{
  padding: 10px 10px;
  position: relative;
  text-align: center;
}


/*
  ========================================
  Rows
  ========================================
*/


.row {
  padding: 5px 0 44px 0;
  background-color: #0084b4;
}

/*
  ========================================
  Grid
  ========================================
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.grid {
  margin: 0 auto;
  width: 960px;
}

.grid,
.col-1-3,
.col-2-3 {
  padding: 15px 15px 15px 15px;

}
.col-1-3,
.col-2-3  {
  display: inline-block;
  vertical-align: top;
}
.col-1-3 {
  width: 33.33%;
  position: relative;
  text-align: center;

}
.col-2-3 {
  width: 66.66%;
  background-color: #fff;
  border-radius: 3px;
}



/*
  ========================================
  Tweet head
  ========================================
*/
.tweet_head {
  

}


/*
  ========================================
  Tweet body
  ========================================
*/
.tweet_body {
  border-radius: 4px;
  display: inline-block;
  margin: 10px 10px 40px 10px;
  border: 2px solid #0084b4;
  background: #fff;
  padding: 10px 10px;
  font-size: 14px;
}
/*
  ========================================
  Buttons
  ========================================
*/
.btn {
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  letter-spacing: .5px;
  margin: 0;
  text-transform: uppercase;
  text-align: center;
}

.btn-alt {
  border: 1px solid #fff;
  padding: 10px 30px;
  background: #fff;
  color: #0084b4;
}


.btn-default {
  border: 0;
  background: #0084b4;
  padding: 10px 10px;
  font-size: 12px;
}
.btn-default:hover {
  background: #0084b4;
}

.btn-refresh{
  border: 2px solid;
  background: #fff;
  padding: 20px 20px;
  font-size: 22px;
  color: #0084b4;
}
.btn-refresh:hover {
  background: #0084b4;
  color: #fff;

}


/*
  ========================================
  Footer
  ========================================
*/
footer {
  text-align:center;
  padding-top: 20px;
  padding-bottom: 20px;
}
